/data
data/
data/*
/data/*
./data
./data/*

dicts/
dicts/*

data.zip
data.zip/*

notebooks/training_logs/*
notebooks/training_logs
notebooks/training_logs/
training_logs/*


notebooks/dateexpiration.zip
notebooks/__pycache__